# === Django / Python ===
venv/
*.pyc
__pycache__/


# === Node / React / Vite ===
node_modules/
dist/
build/

# === Environment Variables ===
.env
.env.local
.env.production

# === OS / Editor / Logs ===
.DS_Store
*.log
.vscode/
.idea/
